NODE_ENV=production
PORT=3000
NEXT_PUBLIC_API_URL=https://ninetails.site/api
NEXT_PUBLIC_MANGADEX_API_URL=https://api.mangadex.org
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
NEXT_PUBLIC_CORS_URL=https://ninetails.site
NEXT_PUBLIC_CORS_V2_URL=https://ninetails.site
NEXT_PUBLIC_APP_URL=https://ninetails.site
NEXT_PUBLIC_BACKEND_URL=https://ninetails.site/api
NEXT_PUBLIC_APP_IMAGE_URL=https://ninetails.site
NEXT_PUBLIC_GTM_ID=
